input,
button,
select {
    border: 0!important;
    background-color: #F5EFF0!important;
    padding: 16px 10px !important;
    font-weight: bold;
    font-size: 16px;
    &:focus,
    &:active,
    &:hover,
    &:focus &:active {
        box-shadow: none!important;
        outline: none!important;
        background-color: #F5EFF0;
    }
}

select {
    padding: 0px 8px!important;
}

.input-group-text {
    background-color: rgba(62, 62, 62, 0.3)!important;
    border: 0!important;
}