// MEDIA QUERIES
$xl: 1200px;
$lg: 992px;
$md: 768px;
$sm: 576px;
$xs: 0px;
//FONTES
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
//CORES
$verde: #16B296;
$branco: #FFFFFF;
$grey: #F5EFF0;
$preto: #3E3E3E;
$red: #FC2874;
$verdec: #2AE475;